<section class="property-detail-page">
  <div *ngIf="loading" class="state-message">
    <div class="spinner"></div>
    <p><b>Cargando detalle del hospedaje...</b></p>
  </div>

  <div *ngIf="!loading && error" class="state-message error-message">
    {{ error }}
  </div>

  <div *ngIf="!loading && !error && property" class="property-layout">
    <div class="gallery-panel">
      <img
        class="main-image"
        [src]="selectedImage"
        [alt]="property.nombre"
      />

      <div class="thumb-list" *ngIf="property.imagenes.length > 0">
        <button
          type="button"
          class="thumb-btn"
          *ngFor="let img of property.imagenes"
          (click)="selectImage(img.url)"
          [class.active]="selectedImage === img.url"
        >
          <img [src]="img.url" [alt]="'Imagen de ' + property.nombre" />
        </button>
      </div>
    </div>

    <div class="info-panel">
      <h1>{{ property.nombre }}</h1>
      <p class="location">{{ property.ciudad }}, {{ property.pais }}</p>

      <div class="rating">
        <span *ngFor="let star of getStarArray(property.rating)" class="star filled">★</span>
        <span *ngFor="let star of getEmptyStarArray(property.rating)" class="star">☆</span>
        <span class="rating-text">{{ property.rating }} ({{ property.reviews }} reseñas)</span>
      </div>

      <p class="description">{{ property.descripcion }}</p>

      <div class="address-block">
        <h3>Dirección</h3>
        <p>{{ property.direccion }}</p>
        <p>Lat: {{ property.latitude }} | Lng: {{ property.longitude }}</p>
      </div>

      <div class="amenities-block" *ngIf="property.amenidades?.length">
        <h3>Amenidades</h3>
        <div class="amenities-list">
          <span class="amenity-chip" *ngFor="let amenidad of property.amenidades">
            <span class="amenity-icon material-symbols-outlined" aria-hidden="true">{{ getAmenityMaterialIcon(amenidad.icon) }}</span>
            <span>{{ amenidad.name }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <section *ngIf="!loading && !error && property" class="rooms-section">
    <h2>Habitaciones disponibles</h2>

    <div class="rooms-grid" *ngIf="property.habitaciones.length > 0; else noRooms">
      <article class="room-card" *ngFor="let room of property.habitaciones">
        <img class="room-image" [src]="room.imageUrl" [alt]="room.descripcion" />
        <div class="room-content">
          <h3>{{ room.descripcion }}</h3>
          <p>Código: {{ room.code }}</p>
          <p>Capacidad: {{ room.capacidad }} persona(s)</p>
          <p class="price">${{ room.precio }} COP / noche</p>
          <!--BOTÓN -->
        <button class="btn-primary">
          Reservar ahora
        </button>
        </div>
      </article>
    </div>

    <ng-template #noRooms>
      <div class="state-message">No hay habitaciones disponibles para este hospedaje.</div>
    </ng-template>
  </section>
</section>
