<div class="containterDashboard"> 
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        @if(usuario?.gender == 'Female'){
          <img src="https://res.cloudinary.com/drpipdmgz/image/upload/q_auto/f_auto/v1775406880/cld-sample.jpg" class="img-fluid rounded-start" alt="...">
        }@else {
          <img src="https://res.cloudinary.com/drpipdmgz/image/upload/q_auto/f_auto/v1776915887/jeffrey-keenan-pUhxoSapPFA-unsplash_iak6s7.jpg" class="img-fluid rounded-start" alt="...">
        }
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> {{ userName }} {{ usuario?.last_name }}</h5>
          <p class="card-text">{{ usuario?.country }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <table class="table table-hover">
      <thead>
        <tr class="table-secondary" data-cy="reservas-header">
          <th scope="col" colspan="7" i18n="reservations|header">Reservas</th>
        </tr>
        <tr>
          <th scope="col" i18n="reservations|id">Id Reserva</th>
          <th scope="col" i18n="reservations|hotel">Hotel</th>
          <th scope="col" i18n="reservations|checkin">Check in</th>
          <th scope="col" i18n="reservations|checkout">Check out</th>
        </tr>
      </thead>
      <tbody>
        <tr #fila *ngFor="let reserva of reservas; let i = index" data-cy="select-reserva" (click)="ver_reserva(reserva, fila)">
          <td>{{ reserva.public_id }}</td>
          <td>{{ reservaNombreHotel(reserva) }}</td>
          <td>{{ reserva.check_in }}</td>
          <td>{{ reserva.check_out }}</td>
        </tr>
      </tbody>
  </table>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="detalleReserva" aria-labelledby="offcanvasScrollingLabel" data-bs-backdrop="static">
    <div class="offcanvas-body">
      @if (reservaActiva) {
        <img [src]="reservaActiva.imagen" class="img-fluid mb-3" alt="Imagen de la habitación">
        <table class="table table-striped" style="width: 100%;" data-cy="modal-info">
          <tbody>
            <tr class="table-info">
              <th scope="row" i18n="reservations|code">Código</th>
              <td>{{ reservaActiva.public_id }}</td>
            </tr>
            <tr>
              <th scope="row" i18n="reservations|hotel-label">Hotel</th>
              <td>{{ reservaActiva.nombre_hotel }} <br> 
                {{ reservaActiva.direccion_hotel }} {{ reservaActiva.pais_hotel }}</td>
            </tr>
            <tr class="table-info">
              <th scope="row" i18n="reservations|dates">Fechas</th>
              <td><span i18n="reservations|from">Desde:</span> {{ reservaActiva.check_in }} <br> <span i18n="reservations|until">Hasta:</span> {{reservaActiva.check_out}}</td>
            </tr>
            @if (reservaActiva.valor){
            <tr>
              <th scope="row" i18n="reservations|value">Valor</th>
              <td>{{ reservaActiva.moneda || 'COP' }}: {{ (reservaActiva.valor) | number:'1.0-0' }}</td>
            </tr> 
            <tr class ="table-info">
              <th scope="row" i18n="reservations|status2">Estado</th>
              <td>{{ reservaActiva.estado }}</td>
            </tr>
          } @else {
            <tr>
              <th scope="row" i18n="reservations|status3">Estado</th>
              <td>{{ reservaActiva.estado }}</td>
            </tr>
          }
          </tbody>
        </table>
      } @else {
        <p class="text-muted" i18n="reservations|no-selection">No hay reserva seleccionada</p>
      }
      <div class="d-grid gap-2">
        <button class="btn btn-danger" data-cy="cancel-reserva" (click)="mostrar_modal()" i18n="reservations|cancel">Cancelar Reserva</button>
        <button class="btn btn-secondary" data-cy="volver-button-panel" (click)="ocultar_reserva()" i18n="reservations|back">Volver</button>
      </div>

    </div>
  </div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" data-cy="modal-title" i18n="reservations|cancel-modal">Cancelar Reserva</h1>
      </div>
      <div class="modal-body" id="Modalbody">
        <p i18n="reservations|cancel-confirm">¿Está seguro de que desea cancelar la reserva {{ reservaActiva?.public_id }}? Esta acción no es revertible</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="cancelar_reserva()" i18n="reservations|cancel-btn">Cancelar Reserva</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-cy="volver-button-modal" i18n="reservations|back-modal">Volver</button>
      </div>
    </div>
  </div>
</div>

</div>