<div class="containterDashboard"> 
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        imagen del usuario para conseguir
        <img src="" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> {{ usuario?.first_name || 'Cargando Usuario...'}} {{ usuario?.last_name }}</h5>
          <p class="card-text">{{ usuario?.country }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <table class="table table-hover">
      <thead>
        <tr class="table-secondary" data-cy="reservas-header">
          <th scope="col" colspan="5">Reservas</th>
        </tr>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Id Habitacion</th>
          <th scope="col">Valor de la Reserva</th>
          <th scope="col">Fechas</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr #fila *ngFor="let reserva of reservas" (click)="ver_reserva(reserva, fila)">
          <td>{{ reserva.public_id }}</td>
          <td>{{ reserva.id_visual_habitacion }}</td>
          <td>{{ reserva.valor | currency:'COP ': 'symbol': '1.0-0' }}</td>
          <td>{{ reserva.check_in }} - {{ reserva.check_out }}</td>
          <td>{{ reserva.estado }}</td>
        </tr>
      </tbody>
  </table>


  <div class="offcanvas offcanvas-end" tabindex="-1" id="detalleReserva" aria-labelledby="offcanvasScrollingLabel" data-bs-backdrop="static">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Reserva: {{ reservaActiva?.public_id }}</h5>
    </div>
    <div class="offcanvas-body">
      @if (reservaActiva) {
        <table class="table table-striped" style="width: 100%;">
          <tbody>
            <tr class="table-info">
              <th scope="row">Habitación</th>
              <td>{{ reservaActiva.id_visual_habitacion }}</td>
            </tr>
            <tr>
              <th scope="row">Check-in</th>
              <td>{{ reservaActiva.check_in }}</td>
            </tr>
            <tr class="table-info">
              <th scope="row">Check-out</th>
              <td>{{ reservaActiva.check_out }}</td>
            </tr>
            <tr>
              <th scope="row">Valor Total</th>
              <td>{{ reservaActiva.valor | currency:'COP ': 'symbol': '1.0-0' }}</td>
            </tr>
            <tr class="table-info">
              <th scope="row">Estado</th>
              <td>{{ reservaActiva.estado }}</td>
            </tr>
          </tbody>
        </table>
      } @else {
        <p class="text-muted">No hay reserva seleccionada</p>
      }
      <div class="d-grid gap-2">
        @if (reservaActiva?.estado === 'pendiente') {
        <button class="btn btn-success">Confirmar Reserva</button>
        }
        <button class="btn btn-warning">Revocar Reserva</button>
        <button class="btn btn-secondary">Volver</button>
      </div>

    </div>
  </div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
      </div>
      <div class="modal-body" id="Modalbody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Revocar Reserva</button>
        <button type="button" class="btn btn-secondary">Volver</button>
      </div>
    </div>
  </div>
</div>

</div>