
.containterDashboard{
    margin: 5vh;
}

.containterDashboard .card{
    border: none;
}

.table-secondary{
    font-size: 1.7em;
}

table{
    width: 80%;
}

td{
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
}

.active_reserve > td{
    background-color: #0d6efd !important;
    color: white !important;
}


.offcanvas-body .btn { 
    width: 80%;
    margin-left: 10%;
    align-items: center;
}