
.containterDashboard{
    margin: 5vh;
}

.containterDashboard .card{
    border: none;
}

.table-secondary{
    font-size: 1.7em;
}

table{
    width: 80%;
}

td{
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
}

.active_reserve > td{
    background-color: #0d6efd !important;
    color: white !important;
}


.offcanvas-body .btn { 
    width: 80%;
    margin-left: 10%;
    align-items: center;
}

#canvasBuscar {
    padding: 16px;
}   

#canvasBuscar .btn {
    width: 80%;
    margin-left: 10%;
}

#canvasBuscar label  {
    color: #015C77;
}

#botonFiltros {
    background-color: #015C77 ;
    color: white;
    width: 140px;
    margin-top: 30px;
}

#botonRemoverFiltros {
    background-color: #F06D51  ;
    color: white;
    width: 140px;
}

.header-filtrado {
    background-color: #f1c232   ;
    color: black;
    font-size: medium;
}