<div class="container mt-4">
  <div class="row g-4">
    <div class="col-12 col-lg-6">
    <h4>
      Bienvenido a TravelHub
    </h4>
    <p>
      Esta aplicación ha sido desarrollada por los estudiantes Daniel Andrade
      Suarez, Daniel Oicata Hernández, Juan Camilo Mora García y Neider Alejandro Fajardo 
      de la Maestría en Ingeniería de Software -MISO- de la Universidad de Los Andes.
    </p>
    <h5>Recursos Gráficos y derechos de autor</h5>
    <p>
      Las imagenes publicitarias presentes en la aplicación fueron elaboradas 
      con ChatGPT, para su uso como recurso en el proyecto académico, 
      no hacen referencia a ninguna marca real. 
    </p>
    <p>
      Los íconos de la aplicación son recursos gratuitos tomados de 
      https://www.svgrepo.com/
    </p>
    <p>
      Las imagenes de alojamientos o usuarios son recursos gratuitos tomados de
      https://unsplash.com/es
    </p>
    <p>
      Las imagenes fueron integradas a la aplicación gracias a los recursos de 
      optimización y almacenamiento en la nube de la capa gratuita de Cloudinary, 
      disponible en https://cloudinary.com/
    </p>
    </div>
    <div class="col-12 col-lg-6">
    <h5>Inicio de Sesión</h5>
    <p> 
      Muchas de las funcionalidades de la aplicación requieren inicio sesion para ejecutarse 
      desde un rol específico. 
    </p>
    <p>
      Contamos con dos usuarios genéricos que le pueden ayudar a acceder rápidamente 
      a la aplicación. Desde la opción "Iniciar sesión"
    </p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Correo</th>
        <th scope="col">Contraseña</th>
        <th scope="col">Rol</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>alojamiento_prueba@gmail.com</td>
        <td>alojamiento</td>
        <td>Viajero</td>
      </tr>
      <tr>
        <td>usuario_prueba@gmail.com</td>
        <td>usuario</td>
        <td>Alojamiento</td>
      </tr>
      </tbody>
    </table>
    <p>
      También algunas funcionalidades involucran varios usuarios, por lo que hemos dispuesto
      un listado de usuarios genéricos para cada rol, cualquiera de estos usuarios puede acceder
      con la contraseña 12345
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr><td>ana.lopez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>luis.martinez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>sofia.ruiz@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>camila.hernandez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>juan.perez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>valentina.mora@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>santiago.lopez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>daniela.garcia@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>mateo.suarez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>laura.ramirez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>andres.torres@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>paula.castro@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>sebastian.ortiz@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>juliana.vargas@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>diego.gomez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>natalia.reyes@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>felipe.marin@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>maria.fernandez@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>camilo.rojas@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>isabella.cortes@yopmail.com</td><td>TRAVELER</td></tr>
        <tr><td>sunrise_beach_san_andres@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>quito_grand_hotel@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>guayaquil_boutique@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>iquitos_plaza_suites@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>casa_colonial_arequipa@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>costa_ciudad_mexico@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>cancun_grand_hotel@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>boutique_santiago@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>mirador_valparaiso@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>buenos_aires_plaza_suites@gmail.com</td><td>ACCOMODATION</td></tr>
        <tr><td>bariloche_grand_hotel@gmail.com</td><td>ACCOMODATION</td></tr>
      </tbody>
    </table>
    <p>Recuerde, para cualquier usuario de la tabla anterior, la constraseña es 12345.</p>
    </div>
  </div>
</div>
