<nav class="navbar-shell d-flex align-items-center justify-content-between px-lg-5 px-md-3 px-2">
  <img src="/Logo.svg" alt="Logo" class="logo" routerLink="/" [attr.aria-label]="'Ir a inicio'" i18n-aria-label="navbar|Logo aria label">

  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link nv-link" href="#" i18n> 
        <img src="/iconos/search.svg" class="nv-icon">
        Buscar
      </a>
    </li>
    @if (userRole !== 'Accomodation'){
      <li class="nav-item">
        <a class="nav-link nv-link" href="#" i18n>
          <img src="/iconos/fire.svg" class="nv-icon">
          Ofertas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nv-link" data-cy="reservas-button" (click)="routeReservations()" i18n>
          <img src="/iconos/calendar-ico.svg" class="nv-icon">
          Reservas
        </a>
      </li>
    }
    @if (userRole === 'Accomodation') {
      <li class="nav-item">
        <a class="nav-link nv-link" [routerLink]="['/booking']" [queryParams]="{ mode: 'rooms' }" i18n>
          <img src="/iconos/room.svg" class="nv-icon">
          Habitaciones
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nv-link" data-cy="reservas-button-accom" [routerLink]="['/booking']" [queryParams]="{ mode: 'reservations' }" i18n>
          <img src="/iconos/key.svg" class="nv-icon">
          Reservas
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nv-link" [routerLink]="['/tarifas']" i18n>
          <img src="/iconos/calendar-ico.svg" class="nv-icon">
          Tarifas
        </a>
      </li>
      <li class ="nav-item">
        <a class="nav-link nv-link" [routerLink]="['/billing']" i18n>
          <img src="/iconos/bill.svg" class="nv-icon">
          Facturación
        </a>
      </li>
    }
    <li class="nav-item">
      <a class="nav-link nv-link final" [routerLink]="['/help']" i18n>
        <img src="/iconos/service-bell.svg" class="nv-icon">
        Ayuda
      </a>
    </li>
  </ul>

  @if (userRole !== 'Accomodation'){
  <!-- SELECTORES MODERNOS -->
  <div class="navbar-selectors">
    <!-- País -->
    <div class="selector">
    <select
      data-cy="country-select"  
      [(ngModel)]="selectedCountry"
      (ngModelChange)="onCountryChange($event)"
      [compareWith]="compareCountries"
    >
      <option *ngFor="let c of countries" [ngValue]="c">
        {{ c.FlagEmoji }} {{ c.code }}
      </option>
    </select>
  </div>

    <!-- Moneda -->
    <div class="selector">
      <select
        [(ngModel)]="selectedCurrency"
        (ngModelChange)="onCurrencyChange($event)"
      >
        <option *ngFor="let c of countries" [value]="c.CurrencyCode">
          {{ c.CurrencySymbol }} {{ c.CurrencyCode }}
        </option>
      </select>
    </div>
  </div>
  }

  <!-- Selector de idioma (visible para todos) -->
  <div class="selector">
    <select
      data-cy="language-selector"
      [ngModel]="currentLanguage"
      (ngModelChange)="onLanguageChange($event)"
    >
      <option value="es">ES</option>
      <option value="en">EN</option>
    </select>
  </div>

  @if (isNotAuthenticated()) {
    <div class="d-flex gap-2 flex-wrap">
      <button type="button" class="btn btn-brand-primary" data-cy="login-button" [routerLink]="['/login']" i18n>Iniciar sesión</button>
      <button type="button" class="btn btn-brand-secondary" data-cy="crear-cuenta-button" [routerLink]="['/auth/create']" i18n>Crear Cuenta</button>
    </div>
  }
  @if (isAuthenticated()) {
    <div class="d-flex gap-2">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          @if (userRole === 'Accomodation') {
            <img src="/iconos/hotel.svg" class="nv-icon">
          }
          @if (userRole === 'Traveler') {
            <img src="/iconos/traveler.svg" class="nv-icon">
          }
          {{ username }}
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" i18n>
              <img src="/iconos/config.svg" class="nv-icon">
              Configuración</a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="#" data-cy="logout-button" (click)="logout()" i18n>
              <img src="/iconos/exit.svg" class="nv-icon">
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
  }
</nav>