<div class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://res.cloudinary.com/drpipdmgz/image/upload/v1775407618/carrusel_1_qnfici.png" 
      class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="https://res.cloudinary.com/drpipdmgz/image/upload/v1775407618/carrusel_2_ynd1do.png" 
      class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="https://res.cloudinary.com/drpipdmgz/image/upload/v1775407618/carrusel_3_vkxxcu.png" 
      class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<app-searchbar></app-searchbar>

<p> TODO: SECCION HOTELES RECOMENDADOS  </p>

<p> TODO: HOTELES POPULARES </p>
