<app-searchbar></app-searchbar>

<div class="results-container">

  <!-- Loading -->
  <div *ngIf="loading" class="state-message">
    <div class="spinner"></div>
    <p><b>Buscando hospedajes...</b></p>
  </div>

  <!-- Resultados -->
  <div class="results-list" *ngIf="!loading && resultados.length > 0">
    <div class="list-length" *ngIf="resultados.length == 1">
      1 Alojamiento encontrado
    </div>
    <div class="list-length" *ngIf="resultados.length > 1">
        {{ resultados.length }} Alojamientos encontrados
    </div>

    <div class="hotel-card" *ngFor="let item of resultados">

      <!-- Imagen -->
      <div class="card-image">
        <div class="image-placeholder">
          <img [src]="item.image_url" alt="{{ item.nombre }}" class="hotel-image">
        </div>
      </div>

      <!-- Información -->
      <div class="card-details">

        <h2 class="hotel-name">{{ item.nombre }}</h2>

        <span class="city">{{ item.ciudad }}, {{ item.pais }}</span>

        <div class="room-info">
          <div class="room-badge">{{ item.capacidad }} persona(s)</div>
          <div class="bed-info">{{ item.descripcion }}</div>
        </div>

      </div>

      <!-- Derecha: rating + precio + botón -->
      <div class="card-action">

        <!--RATING ARRIBA -->
        <div class="rating rating-top">
          <div class="stars">
            <span *ngFor="let star of getStarArray(item.rating)" class="star filled">★</span>
            <span *ngFor="let star of getEmptyStarArray(item.rating)" class="star">☆</span>
          </div>
          <span class="rating-value">{{ item.rating }}</span>
        </div>
        <!--REVIES-->
        <div class="reviews">
          ({{ item.reviews }} reseñas)
        </div>
        <!--PRECIO -->
        <div class="price">
          <span class="amount">${{ item.precio }}</span>
          <span class="period">/noche</span>
        </div>

        <!--BOTÓN -->
        <button class="btn-primary">
          Ver disponibilidad
        </button>

      </div>

    </div>

  </div>

  <!-- Sin resultados -->
  <div *ngIf="!loading && resultados.length === 0 && !error" class="state-message">
    No se encontraron hospedajes disponibles
  </div>

</div>